
.navbar {
    background-color: #232D4B;
}

.navbar-brand{
    font-size: 2rem;
}

.nav-link{
    font-size: 1.2rem;
    color:white;
}

.container-fluid {
    height: 100%
}

hr {
    /* border-color: #E57200; */
    height: 12px;
    opacity: 1.0;
}

.footer {
    bottom: 0;
    left: 0;
    border-top: 2px solid #232D4B;
    text-align: center;
    color: black;
    height: 80px;
}

.contactinfo{
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-direction: row;
    font-size: medium;
}

.copyright {
    color: grey;
    font-size: x-small;
}

.fullScreen {
    min-height: 100vh;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: blue;
}

.card-img-top {
    height: 10rem;
    object-fit: contain;
}
